/* ========================================================================== */
/* RESET CSS - VORNIWEB STANDARD                                              */
/* ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, picture, video, canvas {
    max-width: 100%;
    display: block;
}

button, input, textarea {
    font-family: inherit;
}

ul { list-style: none; }
a   { text-decoration: none; }

html { scroll-behavior: smooth; }
