@media (max-width: 900px) {
    .sobre {
        flex-direction: column;
        text-align: center;
    }

    header.hero h1 {
        font-size: 2.2rem;
    }

    header.hero p {
        font-size: 1rem;
    }
}
